@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import './styles/mixin';

$mobile-breakpoint: 1023px;
$secondary-color: #1a8bee;

body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  ont-family: 'Lato', sans-serif;
  color: #222222;
  font-size: 16px;
  line-height: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 14px;
    line-height: 18px;
  }
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

button {
  display: inline-block;
  outline: none;
  background-color: $secondary-color;
  border: none;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid $secondary-color;
  @include transition(200ms linear all);
  font-weight: 600;

  &:hover {
    background-color: #ffffff;
    color: $secondary-color;
  }
}

.main-content {
  position: relative;
  display: block;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.main-content-wrap {
  position: relative;
  display: flex;
  overflow-x: hidden;

  @media screen and (max-width: $mobile-breakpoint) {
   display: block;
  }

  main {
    flex: 100%;
    @include transition(200ms linear all);
  }

  aside {
    flex: 350px;
    width: 350px;
    border-left: 1px solid #cccccc;
    margin-right: -350px;
    @include transition(200ms linear all);

    @media screen and (max-width: $mobile-breakpoint) {
     border-left: none;
      flex: 100%;
      width: 100%;
      margin-right: 0;
      right: -100%;
    }
  }

  &.show-cart-resume {

    main {
      flex: calc(100% - 350px);
    }

    aside {
      margin-right: 0;

      @media screen and (max-width: $mobile-breakpoint) {
       right: 0;
      }
    }
  }
}

@import './styles/loading';
@import './styles/header';
@import './styles/main';
@import './styles/emptyList';
@import './styles/ingredientsList';
@import './styles/cocktailsList';
@import './styles/cart';
@import './styles/cart-resume';

